.btn {
  box-shadow: none !important;
  vertical-align: top;
  font-size: 0.875rem;
  padding: 3px 14px;
  border-radius: 18px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  [class^="icon-"],
  [class*=" icon-"] {
    // @include transition;
    margin-right: 5px;
    margin-left: -3px;

    &:before {
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
    }
  }

  &.dropdown-toggle {
    &:after {
      margin-left: 7px;
      vertical-align: 2px;
    }
  }

  &.sb-btn-circle {
    width: 32px;
    height: 32px;
    padding-left: 0;
    padding-right: 0;

    [class^="icon-"],
    [class*=" icon-"] {
      margin: 0;
      &::before {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  &.sb-btn-round {
    border-radius: 6px;
  }

  &.sb-btn-mw-160 {
    min-width: 160px;
    text-align: left;

    &:after {
      position: absolute;
      right: 15px;
      top: 13px;
    }
  }
}

.btn-primary {
  &:hover {
    background: $azure-two;
    border-color: $azure-two;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active {
    background: $cerulean;
    border-color: $cerulean;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.4;
    background: $azure !important;
    border-color: $azure !important;
  }
}

.btn-secondary {
  border-color: $white-three;
  background: $white;
  color: $black-two;

  &:hover {
    background: $white;
    color: $azure;
    border-color: $azure;

    [class^="icon-"],
    [class*=" icon-"] {
      color: $azure;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active {
    border-color: $azure;
    color: $white;
    background: $azure;

    [class^="icon-"],
    [class*=" icon-"] {
      color: $white;
    }
  }

  &.btn-circle {
    color: $warm-grey;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    color: $warm-grey;
  }

  //TODO REFACTOR
  // To override css props in the next class we have to use important as complasory (bad practice)
  &[disabled]:not(.sb-drop-btn-trash),
  &.disabled:not(.sb-drop-btn-trash) {
    cursor: default;
    opacity: 1;
    background: rgba(221, 221, 221, 0.3) !important;
    border-color: $white-three !important;
    color: $black-6 !important;

    [class^="icon-"],
    [class*=" icon-"] {
      color: $black-6 !important;
    }
  }
}

.btn-secondary.invert {
  background: $white;
  color: $azure;
  border-color: $azure;

  &:hover {
    border-color: $azure;
    color: $white;
    background: $azure;

    [class^="icon-"],
    [class*=" icon-"] {
      color: $white;
    }
  }
}

.btn-success {
  border-color: $shamrock-green;
  background: $shamrock-green;

  &:hover {
    background: $green-apple-two;
    border-color: $green-apple-two;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:focus,
  &:active,
  &:active:focus {
    background: $green-apple;
    border-color: $green-apple;
  }
}

.btn-link {
  padding-left: 0;
  padding-right: 0;
  text-decoration: none !important;

  &.sb-link-success {
    color: $shamrock-green;

    &:hover {
      color: $green-apple;
    }
  }
}

.show > {
  .btn {
    &.dropdown-toggle {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .btn-secondary {
    &.dropdown-toggle {
      border-color: $azure;
      color: $white;
      background: $azure;

      i {
        color: white;
      }
    }
  }

  .btn-success {
    &.dropdown-toggle {
      border-color: $green-apple;
      background: $green-apple;
    }
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.25) {
  .btn {
    font-size: 0.875 * 0.79rem;
    line-height: 19px;
    padding: 2px 11px;

    [class^="icon-"],
    [class*=" icon-"] {
      margin-right: 4px;
      margin-left: -2px;

      &:before {
        font-size: 19px;
      }
    }

    &.dropdown-toggle {
      &:after {
        margin-left: round(7 * 0.79px);
        vertical-align: 2px;
      }
    }

    &.sb-btn-circle {
      width: round(32 * 0.79px);
      height: round(32 * 0.79px);

      [class^="icon-"],
      [class*=" icon-"] {
        &::before {
          font-size: round(24 * 0.79px);
          line-height: round(24 * 0.79px);
        }
      }
    }

    &.sb-btn-mw-160 {
      min-width: round(160 * 0.79px);

      &:after {
        right: round(15 * 0.79px);
        top: round(13 * 0.79px);
      }
    }
  }

  .btn-link {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #d5e2e6;
  & + span {
    font-size: 12px;
    color: #627980;
    margin-left: 8px;
  }
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: "Off";
  left: -4rem;
}
.btn-toggle:after {
  content: "On";
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: $shamrock-green;
}

.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  flex: 0 1 auto;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem !important;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: "Off";
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: "On";
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
