.sb-main-header {
  background: $charcoal-grey;
  display: flex;
  justify-content: space-between;
  padding: 0 9px 0 24px;
  height: $headerHeight;

  .sb-logo {
    width: 28px;
    margin-right: 20px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .sb-header-left {
    display: flex;
    align-items: center;
  }

  .sb-header-right {
    display: flex;
  }

  .nav-link {
    color: $white;
    padding: 0;
    margin-right: 20px;
    line-height: 40px;
    border: solid transparent;
    border-width: 4px 0;
    font-size: 14px;

    &.active {
      border-bottom-color: $azure;
      font-weight: 600;
    }
  }

  .sb-header-feedback {
		margin: 9px 0 0 16px; 

		.dropdown-toggle {
			box-shadow: 0 0 6px 0 rgba(0, 248, 110, 0.8) !important;

			&:after {
				display: none;
			}
		}

		.dropdown-menu {
			border-color: $shamrock-green;
			margin-left: -160px;
    	left: 50% !important
		}

		.form-control:focus {
			border-color: $shamrock-green;
		}

		.sb-drop-mw {
			min-width: 320px;
		}
  }

  .sb-main-search {
    margin: 11px 0 0 16px;

    .icon-search {
      top: 5px;
    }
    
    .form-control {
      border: 0;
      min-width: 250px;
      padding-right: 32px;
      height: 25px;
    }
  }

  .sb-header-create {
    margin: 9px 0 0 16px;
	}
	
	.dropdown-menu {
    margin-top: 16px;
    z-index: 9999;
	}
}

@media screen and (-webkit-device-pixel-ratio: 1.25) {
  .sb-main-header{
    padding: 0 7px 0 19px;
    height: 38px;

    .sb-logo{
      width:22px;
      margin-right: 16px;
    }

    .nav-link{
      font-size: 11px;
      line-height: 32px;
      margin-right: 16px;
      border-width: 3px 0;
    }

    .sb-header-feedback {
      margin: 7px 0 0 13px;

      .dropdown-menu {
        margin-left: -126px;
      }

      .sb-drop-mw {
        min-width: 252px;
      }         
    }

    .sb-main-search{
      margin: 9px 0 0 13px;

      .icon-search {
        top: 4px;
      }
      
      .form-control {
        min-width: 198px;
        padding-right: 25px;
        height: 20px;
      }       
    }

    .sb-header-create {
      margin: 7px 0 0 13px;
    }

    .dropdown-menu {
      margin-top: 13px;
    }       
   
  }
}