.sb-info-box {
  padding: 1rem 1rem 0.5rem;
  margin-bottom: 25px;
  background: $azure-1;
  font-size: 0.75rem;
  color: $black-two;

  .sb-title {
    display: block;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  p {
    line-height: 1.67;
    margin-bottom: 8px;
  }
}