.sb-lead-edit-container {
  width: 100%;
  overflow: auto;

  .sb-lead-edit-holder {
    max-width: 1560px;
    margin: 0 auto;
    padding: 24px 0;
    width: 100%;
  }

  .sb-potential {
    display: flex;

    .input-group {
      max-width: 150px;
    }
  }

  .sb-panel-body {
    &.sb-scroll-edit-activities {
      height: 540px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.25) {
  .sb-potential {
    margin-top: -3px;
  }

  .sb-lead-edit-container .sb-lead-edit-holder {
    padding: 16px 0;
  }
}