.list_head {
  font-weight: bold;
  font-size: 12px;
  color: #7c99a1;
  padding-bottom: 4px;
}
.list_head_act {
  .btn-group {
    display: block;
    width: 100%;
    .dropdown-toggle {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .sb-icon-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dropdown-menu {
      right: 0;
    }
  }
}

.sb-lead-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-control {
    color: #7c99a1;
  }

  .progress {
    height: 0.4rem;
  }

  .row {
    align-items: center;
  }
}

.chart_perc {
  &__blue {
    color: #4ec1e2;
  }
  &__red {
    color: #f07030;
  }
  &__green {
    color: #5acc80;
  }
}

.progress {
  .bg {
    &-info {
      background-color: #4ec1e2 !important;
    }
    &-success {
      background-color: #5acc80 !important;
    }
    &-warning {
      background-color: #f07030 !important;
    }
  }
}

.cell {
  &__ico {
    text-align: center;
  }
  &__deal_name,
  &__deal_with {
    color: $black;
    font-weight: bold;
  }
  &__deal_name {
  }
  &__deal_with {
  }
  &__type {
  }
  &__attach {
    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }
  &__modif {
  }
}

.list_head_fix {
  border-bottom: 1px solid #d5e2e6;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
}

.board_head_fix {
  border-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #54686e;
  padding-top: 14px;
  padding-bottom: 9px;
  border-bottom: none;
  .row > div {
    align-items: center;
  }
  &__cell {
    display: flex;
    align-items: center;
    i {
      margin-right: 8px;
    }
  }
}

.list_head_fix_cont {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  &__row {
    // border-bottom: 1px solid #d5e2e6;
    & > .row {
      min-height: 40px;
    }
    &:not(.collapsed) {
      // border-bottom: 1px solid #d5e2e6;
    }
  }
  &__wr {
    width: 100%;
    & > .row {
      width: 100%;
      margin: 0;
      font-size: 12px;
      color: #7c99a1;
      align-items: center;
      border-bottom: 1px solid #d5e2e6;
      &:nth-child(2n) {
        background-color: #fafcfc;
      }
      .collapse {
        min-height: 0;
      }
      .collapsed_wr {
        & > .row {
          margin-top: 5px;
          margin-bottom: 5px;
          &:nth-last-child(1) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .collapse_list {
    &__head {
      font-weight: bold;
      padding-top: 9px;
      padding-bottom: 20px;
      color: #7c99a1;
    }
    &__row {
      color: $black;
      margin-bottom: 10px;
      a {
        color: #019ce6;
      }
    }
  }
}
