.list_head {
  font-weight: bold;
  font-size: 12px;
  color: #7c99a1;
  letter-spacing: 0px;
}
.list_head_act {
  padding-top: 4px;
  padding-bottom: 5px;
  .btn-group {
    display: block;
    width: 100%;
    .dropdown-toggle {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .sb-icon-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dropdown-menu {
      // right: 0;
    }
  }
}

.sb-lead-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-control {
    color: #7c99a1;
  }

  .progress {
    height: 0.4rem;
  }

  .row {
    align-items: center;
  }
}

.chart_perc {
  &__blue {
    color: #4ec1e2;
  }
  &__red {
    color: #f07030;
  }
  &__green {
    color: #5acc80;
  }
}

.progress {
  .bg {
    &-info {
      background-color: #4ec1e2 !important;
    }
    &-success {
      background-color: #5acc80 !important;
    }
    &-warning {
      background-color: #f07030 !important;
    }
  }
}

.cell {
  &__ico {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    .icon-attachment {
      font-size: 19px;
    }
    .icon-actions {
      justify-self: flex-end;
      display: flex;
      cursor: pointer;
      &::before {
        width: 24px;
        text-align: center;
      }
      &:hover:before {
        // color: #000;
        color: rgba(1, 160, 236, 0.5);
      }
    }
  }
  &__add_goal {
    display: inline-block;
    padding-left: 15px;
  }
  &__deal_name,
  &__goal_name,
  &__type,
  &__rev {
    color: #323f42;
  }
  &__deal_with {
    color: #323f42;
    font-weight: bold;
  }
  &__attach {
    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }
  &__modif {
  }
}

.list_head_fix {
  // border-bottom: 10px solid #fff;
  background-color: #fff;
  border-bottom: 1px solid #d5e2e6;
  padding-top: 10px;
  padding-bottom: 10px;
  // background-color: #f6f6f6;
  font-size: 14px;
  &.container-fluid {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.board_head_fix {
  border-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  color: #54686e;
  padding-top: 14px;
  padding-bottom: 9px;
  border-bottom: none;
  .row > div {
    align-items: center;
  }
  &__cell {
    display: flex;
    align-items: center;
    i {
      margin-right: 8px;
    }
  }
}

.list_head_fix_cont {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  &__row {
    // border-bottom: 1px solid #d5e2e6;
    & > .row {
      min-height: 40px;
    }
    &:not(.collapsed) {
      will-change: transition;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      // border-bottom: 1px solid #d5e2e6;
    }
  }
  &__wr {
    width: 100%;
    line-height: 1.2;
    & > .row {
      width: 100%;
      margin: 0;
      font-size: 12px;
      color: #323f42;
      align-items: center;
      border-bottom: 1px solid #d5e2e6;
      // &:nth-child(1) {
      //   border-top: 1px solid #d5e2e6;
      // }
      &:nth-child(2n) {
        // background-color: #fafcfc;
      }
      &.vss_bg {
        background-color: #fbfcfc;
      }
      &:hover {
        .list_head_fix_cont__row:not(.collapsed) {
          background-color: #e8e8e8;
        }
        .collapse.show {
          background-color: #fbfcfc;
        }
      }
      i {
        font-size: 24px;
        &.icon-attachment {
          color: #7c99a1;
          font-size: 18px;
        }
        &.icon-actions {
          color: #7c99a1;
          font-size: 18px;
        }
      }
      .collapse {
        min-height: 0;
      }
      .collapsed_wr {
        // font-size: 11.5px;
        // border-top: 1px solid #d5e2e6;
        padding-bottom: 15px;
        position: relative;
        // &:after {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   left: -15px;
        //   right: -15px;
        //   height: 10px;
        //   bottom: 0;
        //   background-color: #fff;
        // }
        & > .row {
          // margin-top: 5px;
          // margin-bottom: 5px;
          min-height: 40px;
          &:nth-last-child(1) {
            margin-bottom: 10px;
          }
          & > div {
            // padding-left: 23px;
          }
        }
      }
    }

    .list_head_fix_cont__row {
      cursor: pointer;
    }
    .collapse.show {
      will-change: transition;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      // background-color: #f5f5f5;
    }
  }
  .collapse_list {
    &__head {
      font-weight: bold;
      padding-top: 9px;
      padding-bottom: 20px;
      color: #7c99a1;
    }
    &__row {
      color: #323f42;
      margin-bottom: 10px;
      a {
        color: #019ce6;
      }
    }
  }
}
