.sb-main-top-panel {
  padding: 20px 0 20px;
  background: $white;
  border-bottom: 1px solid $white-three;

  button a {
    color: $white;
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.25) {
	.sb-main-top-panel {
	  padding: round(20*0.79px) 0 round(20*0.79px);
	}

}