.sb-main-tabs {
  font-size: 14px;
  margin-bottom: 8px;
  border-bottom: 1px solid $pale-sky-blue;

  .container-fluid {
    padding-left: 14px;
  }

  li {
    display: inline-block;
    vertical-align: top;
    // margin-right: 24px;
  }

  a {
    color: #627980;
    display: block;
    padding: 0 20px 11px 20px;
  }

  .active {
    font-weight: 600;
    color: #019ce6;
    border-bottom: 3px solid #019ce6;
  }
}

@media screen and (-webkit-device-pixel-ratio: 1.25) {
  .sb-main-tabs {
    font-size: 0.875 * 0.79rem;
    margin-bottom: round(8 * 0.79px);

    .container-fluid {
      padding-left: round(14 * 0.79px);
    }

    li {
      margin-right: round(24 * 0.79px);
    }
  }
}
