/*
 * TIPS
 * https://colorscheme.ru/color-converter.html
 */

//TODO 

// colors
$white: #fff;
$white-two: #d7d7d7;
$white-two-2: rgba(215, 215, 215, 0.2);
$white-three: #ddd;
$white-four: #fbfbfb;
$white-four-089: rgba(251, 251, 251, 0.89);
$white-five: #dcdcdc;
$white-six: #d8d8d8;
$white-seven: #f3f3f3;
$white-9: rgba(255, 255, 255, 0.09);
$white-20: rgba(216, 216, 216, 0.2);
$charcoal-grey: #2d3336;
$azure: #01a0ec;
$azure-two: rgba(1, 160, 236, 0.8);
$azure-5: rgba(1, 160, 236, 0.05);
$azure-1: rgba(1, 160, 236, 0.1);
$cerulean: #0496db;
$black: #000;
$black-two: #333;
$black-6: rgba(51, 51, 51, 0.6);
$black-4: rgba(51, 51, 51, 0.4);
$graphite-black: #666b6c;
$bluey-grey: #9ca7b9;
$warm-grey: #828282;
$warm-grey-three: #9b9999;
$grey-300: #dddddd;
$text-grey: #adadad;
$tomato: #df2c2c;
$coral: #ff4b48;
$coral-pink: #f06168;
$vermillion: #f52623;
$vermillion2: #fde5e4;
$goldenrod: #f4d508;
$maize: #f8e149;
$shamrock-green: #00c457;
$gunmetal: #54686e;

// Attempted
$tangerine: #fe890f; //rgba(254, 137, 15, 1)
$tangerine-1: rgba(254, 137, 15, 0.12);

//Suspended
$mango: #ffc030; //rgba(251, 180, 39, 1)
$mango-1: rgba(244, 213, 8, 0.12);

//Sales Nurture
$mango-two: #fbb427; //rgb(251, 180, 39, 1)
$mango-two-1: rgba(251, 180, 39, 0.12);

//Engaged
$yellowish-green: #a3d00f; //rgba(163, 208, 15, 1)
$yellowish-green-1: rgba(163, 208, 15, 0.12);

$mango: #ffc030;
$pale-orange: #ffa74d;
$butterscotch: #ffc450;
$green-apple: #62ce19;
$green-apple-two: #6fe121;
$green-apple-bg: rgba(98,206,25, 0.12);

$yellowish-green-two: #b4e31b;

$error-toast-background: #f52623;
$success-toast-background: #5ac610;

$pale-sky-blue: #d5e2e6;
$mql-color: #725198;
// sizes
$headerHeight: 48px;