.vss {
  &__wr {
    .container-fluid {
      & > .row > div {
        margin-bottom: 16px;
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
    .sb-checkbox {
      .sb-checkmark {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
          left: auto;
          top: auto;
          position: relative;
          margin-top: -4px;
          width: 9px;
          height: 11px;
        }
      }
    }
  }
  &__content {
    margin-bottom: 16px;
    padding: 16px;
    min-height: 100%;
    &_title {
      margin: -16px -16px 16px;
    }
  }
  &_obj {
    &__wr {
      position: relative;
    }
    &__table {
      width: 100%;
      overflow: auto;
      padding-left: 150px;
      .row {
        flex-wrap: nowrap;
        align-items: center;
        max-height: 30px;
        margin-bottom: 16px;
        & > div {
          display: flex;
          min-height: 30px;
          align-items: center;
          min-width: 40px;
        }
      }
      &_fixed {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 150px;
        background-color: #fff;
        &__item {
          min-height: 30px;
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          font-weight: 700;
          font-size: 12px;
          color: #323f42;
          letter-spacing: 0;
          &_head {
            min-height: 30px;
            border-bottom: 1px solid #d5e2e6;
          }
        }
      }
      &_head {
        font-weight: 700;
        font-size: 12px;
        color: #7c99a1;
        letter-spacing: 0;
        min-height: 30px;
        & > div {
          border-bottom: 1px solid #d5e2e6;
        }
      }
    }
  }
  &_miniTable {
    &__head {
      font-weight: 700;
      font-size: 12px;
      color: #7c99a1;
      letter-spacing: 0;
      margin-bottom: 16px;
    }
    &__item {
      min-height: 30px;
      align-items: flex-start;
      margin-bottom: 16px;
      div:nth-child(1) {
        font-size: 12px;
        color: #323f42;
        align-self: flex-start;
      }
      div:nth-child(3) {
        display: flex;
        align-items: center;
      }
    }
  }
}
