.vss {
  &_header_btns {
    div[class*="col"] {
      display: flex;
      align-items: flex-end;
      *:not(.sb-checkmark) {
        width: 100%;
      }
    }
  }
  &__wr {
    .cell__add_goal {
      padding: 0;
      color: #019ce6;
      &:hover {
        color: #0056b3;
      }
    }
    .container-fluid {
      & > .row > div {
        margin-bottom: 16px;
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
    .sb-checkbox {
      height: 30px;
      display: flex;
      align-items: center;
      padding-left: 28px;
      .sb-checkmark {
        top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
          left: auto;
          top: auto;
          position: relative;
          margin-top: -4px;
        }
      }
    }
  }
  &__content {
    margin-bottom: 16px;
    padding: 16px;
    min-height: 100%;
    &_title {
      margin: -16px -16px 16px;
    }
  }
  &_obj {
    &__wr {
      position: relative;
    }
    &__table {
      width: 100%;
      overflow: auto;
      padding-left: 150px;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      }
      .row {
        flex-wrap: nowrap;
        align-items: center;
        height: 33px;
        margin-bottom: 16px;
        &:nth-last-child(1) {
          b {
            margin-right: 5px;
          }
        }
        & > div {
          display: flex;
          height: 33px;
          align-items: center;
          min-width: 40px;
        }
      }
      &_fixed {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 142px;
        background-color: #fff;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 33px;
          right: 0;
          bottom: 0;
          width: 1px;
          background-color: #d5e2e6;
        }
        &__item {
          height: 33px;
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          font-weight: 700;
          font-size: 12px;
          color: #323f42;
          letter-spacing: 0;
          padding-right: 9px;
          &_head {
            min-height: 30px;
            border-bottom: 1px solid #d5e2e6;
          }
        }
        &_act {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          .vss_obj__table_fixed__item:not(.vss_obj__table_fixed__item_head) {
            background-color: #fff;
            position: relative;
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: -16px;
              left: 0;
              width: 100%;
              bottom: -16px;
              background-color: #fff;
            }
          }
        }
      }
      &_head {
        font-weight: 700;
        font-size: 12px;
        color: #7c99a1;
        letter-spacing: 0;
        min-height: 30px;
        & > div {
          border-bottom: 1px solid #d5e2e6;
        }
      }
    }
  }
  &_miniTable {
    &__head {
      font-weight: 700;
      font-size: 12px;
      color: #7c99a1;
      letter-spacing: 0;
      margin-bottom: 16px;
    }
    &__item {
      min-height: 30px;
      align-items: flex-start;
      margin-bottom: 16px;
      div:nth-child(1) {
        font-size: 12px;
        color: #627980;
        align-self: flex-start;
      }
      div:nth-child(3) {
        display: flex;
        align-items: center;
      }
    }
  }
}
