// @import './bootstrap/bootstrap.scss';
@import "./normalize";
@import "./bootstrap-datepicker.min";
@import "./styles/main/index.scss";
@import "./vars";

* {
  box-sizing: border-box;
}
html {
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
  min-width: 1440px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.b_card {
  padding: 16px;
  border-radius: 4px;
  border: solid 1px #d5e2e6;
  background-color: #ffffff;
  margin-bottom: 20px;
  &__ver {
    text-align: right;
  }
  &__deal {
    font-weight: 600;
    font-size: 14px;
    color: #323f42;
  }
  &__name {
    font-size: 12px;
    color: $black;
    margin-bottom: 6px;
  }
  &__draft {
    font-size: 12px;
    color: #627980;
  }
  .sb-icon-in-circle {
    i {
      font-size: 20px;
      color: rgb(130, 130, 130);
    }
  }
}

.dropdown-toggle::after {
  font-family: "icomoon_l" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e908";
  color: #7e9ba3;
  border: none;
}
.datepicker-days {
  padding: 15px;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
  background-color: rgb(1, 156, 230);
  background-image: none;
}

.modal-lg {
  hr {
    border-top: 1px solid #d5e2e6;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .modal {
    &-content {
      padding: 40px;
    }
    &-footer {
      padding: 29px 0 0;
      border-top: 1px solid #d5e2e6;
    }
    &-header {
      padding: 0 0 21px;
      border-bottom: none;
    }
    &-title {
      font-size: 16px;
      font-weight: bold;
      color: #323f42;
    }
    &-body {
      padding: 0;
    }
    &-row-border {
      padding-bottom: 15px;
      border-bottom: 1px solid #d5e2e6;
    }
    &-draft-btn {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #627980;
    }
  }
}

.alert {
  font-size: 12px;
  line-height: 1.67;
  color: #333333;
  border-radius: 6px;
  border: none;
  p {
    margin-bottom: 5px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  &-info {
    background-color: #e6f6fd;
  }
}

.btn {
  height: 32px;
  border-radius: 18px;
  line-height: 32px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  font-weight: bold;
  &-primary {
    min-width: 120px;
    background-color: #019ce6;
    border-color: #019ce6;
  }
  &-link {
    color: #019ce6;
  }
  [class*=" icon-"]:before,
  [class^="icon-"]:before {
    vertical-align: middle;
  }
}

textarea.form-control {
  line-height: 1.67;
  padding-top: 5px;
  padding-bottom: 5px;
}
select.form-control {
  padding-right: 8%;
  appearance: none;
  background-image: url(../../static/media/chevron.svg);
  background-position: 98% center;
  background-repeat: no-repeat;
}
.form {
  &-group {
    margin-bottom: 17px;
    label {
      display: block;
      font-size: 12px;
      color: #627980;
      margin-bottom: 3px;
      b {
        font-size: 14px;
        color: #323f42;
      }
    }
  }
  &-control {
    border-radius: 4px;
    border: solid 1px #d5e2e6;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    padding: 0 8px;
    &-file {
      color: transparent;
      &::-webkit-file-upload-button {
        visibility: hidden;
      }
      &::before {
        content: "Attach";
        color: black;
        display: inline-block;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        border-radius: 18px;
        border: solid 1px #019ce6;
        padding: 5px 16px;
        font-size: 16px;
        font-weight: 600;
        color: #019ce6;
      }
      &:active {
        outline: 0;
      }
      &:hover::before,
      &:active::before {
        background-color: #019ce6;
        color: #fff;
      }
    }
  }
}

h1,
h2 {
  margin-bottom: 20px;
}
.static {
  &__wr {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

body .select2 {
  * {
    outline: none !important;
  }
  &-container {
    width: 100% !important;
    .select2-selection {
      &--single {
        height: 32px;
        background-color: transparent;
        border-radius: 4px;
        border: solid 1px #d5e2e6;
        .select2-selection__rendered {
          height: 100%;
          line-height: 32px;
          padding: 0 8% 0 8px;
          background-image: url(../../static/media/chevron.svg);
          background-position: 98% center;
          background-repeat: no-repeat;
          font-size: 12px;
          color: #7c99a1;
          &:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }
      }
      &__arrow {
        display: none;
      }
    }

    &--default {
      .select2-results > .select2-results__options {
        max-height: 70vh;
      }
    }

    &--focus,
    &--open {
      .select2-selection--single {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
}

.list-group {
  &-item {
    padding: 5px 8px;
    font-size: 12px;
    color: #7c99a1;
    a {
      color: #7c99a1;
    }
    i {
      font-size: 12px;
    }
  }
  & + .custom-file {
    margin-top: 10px;
  }
}
.custom-file {
  input[type="file"] {
    opacity: 0;
  }
}
