// @import './bootstrap/bootstrap.scss';
@import "./normalize";
@import "./bootstrap-datepicker.min";
@import "./styles/main/index.scss";
@import "./vars";

* {
  box-sizing: border-box;
}
html {
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

.b_card {
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  &__ver {
    text-align: right;
  }
  &__deal {
    font-weight: bold;
  }
  &__draft {
    font-weight: bold;
  }
  .sb-icon-in-circle {
    i {
      font-size: 20px;
      color: rgb(130, 130, 130);
    }
  }
}

.btn-primary {
  background-color: #019ce6;
  border-color: #019ce6;
}

.form-control {
  border-radius: 4px;
  border: solid 1px #d5e2e6;
  height: 32px;
  font-size: 12px;
  line-height: 1;
  padding: 0 8px;
}

.dropdown-toggle::after {
  font-family: "icomoon_l" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e908";
  color: #7e9ba3;
  border: none;
}
